<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>
    <h1 class="display-3"><%=title %></h1>
    <div class="btn-redireccion">
        <a class="btn btn-primary" href= '/products''role="button">Ver lista de productos</a>
     </div>
        <div class="abs-center">
            <form method="post" action="/form"> 
                <div class="mb-3 ">
                    <input type="text" class="form-control" placeholder="Producto" name="title" id="title"/>
                    <input type="text" class="form-control" placeholder="Precio" name="price" id="price"/>
                    <input type="text" class="form-control" placeholder="Url thumbnail" name="thumbnail" id="thumbnail"/>
                    <input type="submit" class="btn btn-primary" value="Enviar archivo">
                </div>
            </form>
        </div> 
        <h1 class="display-3"><%=title %></h1>
        <div class="btn-redireccion">
          <a class="btn btn-primary" href='/form'role="button">Cargar nuevo producto</a>
        </div>
            <div class="container" id="mi_tabla">
              <table class="table table-hover table-dark tableFixHead" >
                <thead>
                  <tr class="head-table">
                    <th scope="col">#</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Imagen</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% products.forEach((item)=>{ %>
                      <tr class="head-table">
                        <th> <%=item.id%></th>
                        <td> <%=item.title%> </td>
                        <td> $ <%=item.price%></td>
                        <td><img class="product-img" src="<%=item.thumbnail %>"/></td>
                      </tr>
                    <% }) %>
                  </tr>
                </tbody>
              </table>
            </div>
    <%- include('../partials/footer'); %> 
  </body>
</html>